<html>
	<head>
		<script src="../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../bower_components/angular/angular.min.js"></script>
		<script src="../bower_components/flatui/dist/js/flat-ui.min.js"></script>
		<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="js/editMail.js"></script>
		<script src="js/MailDao.js"></script>
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    	<link rel="stylesheet" href="../bower_components/flatui/dist/css/flat-ui.min.css"/>
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    	<link rel="stylesheet" href="../bower_components/flatui/dist/css/flat-ui.css"/>
		<script src="../bower_components/flatui/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="../bower_components/flatui/js/jquery.ui.touch-punch.min.js"></script>
		<script src="../bower_components/flatui/js/bootstrap-select.js"></script>
		<script src="../bower_components/flatui/js/bootstrap-switch.js"></script>
		<script src="../bower_components/flatui/js/flatui-checkbox.js"></script>
		<script src="../bower_components/flatui/js/flatui-radio.js"></script>
		<script src="../bower_components/flatui/js/jquery.tagsinput.js"></script>
		<script src="../bower_components/flatui/js/jquery.placeholder.js"></script>
		<script src="../bower_components/flatui/js/jquery.stacktable.js"></script>
		<script src="../bower_components/flatui/js/application.js"></script>			
		<title>Mail Keeper</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body ng-app="EditMail" ng-controller="EditMailDetail" class="form-group">
		<div class="container">
			<div class="row" style="float:left;margin-bottom:20px;margin-left:20px">
				<div class="span3" style="float:left;margin-bottom:20px;margin-left:20px;">  
					<a href="viewAllMails.html" class="btn btn-large btn-block btn-primary" style="width:80px;">Home</a>
				</div>
				<div class="span3" style="float:left;margin-bottom:20px;margin-left:20px;">
					<a href="index.html" class="btn btn-large btn-block btn-primary" style="width:80px;">Add</a>
				</div>
			</div>
		</div>
		<div class="form-group" align="center">
		<div class="form-group" align="left" style="width:600px;padding-left:15px;">
			<div class="form-group">
				<h1 class="logo">Update Mail</h1>
			</div>
			<div class="form-group" hidden="true">
					<input class="form-control" type="text" ng-model="mail._id" ng-bind="mail._id" hidden="true"/>
			</div>
			<div class="form-group form-group-lg">
					<h6 class="h6 small">Mail Code :</h6>
					<input class="form-control" type="text" ng-model="mail.code" ng-model="mail.code"
					placeholder="Enter Mail Code"/>
			</div>
			<div class="form-group form-group-lg">
					<h6 class="h6 small">Mail Subject :</h6>
					<input class="form-control" type="text" ng-model="mail.mailSub" ng-model="mail.mailSub"
					placeholder="Enter Mail Subject"/>
			</div>
			<div class="form-group form-group-lg">
				<h6 class="h6 small">Reply Status :</h6>
				<input class="form-control" type="text" ng-model="mail.replyStatus" ng-model="mail.replyStatus"
				placeholder="Enter Mail Reply Status"/>
			</div>
			<div class="form-group form-group-lg">
				<h6 class="h6 small">Remarks :</h6>
				<textarea class="form-control" ng-model="mail.remarks"  ng-model="mail.remarks"
				placeholder="Enter Mail Remarks"></textarea>
			</div>
			<div class="form-group form-group-lg">
				<h6 class="h6 small">Latest Receive Date :</h6>
				<input class="form-control" type="date" ng-model="mail.receiveDate" ng-model="mail.receiveDate"
				/>
			</div>
			<div class="form-group form-group-lg">
				<h6 class="h6 small">Latest Reply Date :</h6>
				<input class="form-control" type="date" ng-model="mail.replyDate" ng-model="mail.replyDate"/>
			</div>
			<div class="row demo-row" align="center">
					<a class="btn btn-large btn-primary" ng-click="mail.save()" style="width:80px;">Save</a>
					<a class="btn btn-large btn-primary" ng-click="mail.clear()" style="width:80px;">Clear</a>
			</div>
		</div>
		</div>
	</body>
</html>