<html>
	<script src="../bower_components/angular/angular.min.js"></script>
	<script src="js/addMail.js"></script>
	<script src="../bower_components/lokijs/build/lokijs.min.js"></script>
	<script src="js/MailDao.js"></script>
	<head>
		<title>Mail Keeper</title>
	</head>
	<body ng-app="mailApp" ng-controller="addMailDetail">
		<table style="width:90%">
			<tr>
				<td colspan="2">
					<B>New Details</B>
				</td>
			</tr>
			<tr hidden="true">
				<td>
					<input type="text" ng-model="mail.id" hidden="true"/>
				</td>
			</tr>
			<tr>
				<td>
					Mail Code :
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input  type="text" ng-model="mail.code" style="width:350px;height:30px;"/>
				</td>
				
			</tr>
			<tr>
				<td>
					Mail Subject :
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input  type="text" ng-model="mail.mailSub" style="width:350px;height:30px;"/>
				</td>
			</tr>
			<tr>
				<td>
					Receive Date :
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input  type="text" ng-model="mail.receiveDate" style="width:350px;height:30px;"/>
				</td>
			</tr>
			<tr>
				<td>
					Reply Status :
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input  type="text" ng-model="mail.replyStatus" style="width:350px;height:30px;"/>
				</td>
			</tr>
			<tr>
				<td>
					Reply Date :
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input  type="date" ng-model="mail.replyDate" style="width:350px;height:30px;"/>
				</td>
			</tr>
			<tr>
				<td>
					Remarks :
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<textarea ng-model="mail.remarks" style="width:350px;height:30px;"></textarea>
				</td>
			</tr>
			<tr>
				<td>
					<input  type="button" value="Save" ng-click="mail.save()"/>
				</td>
			</tr>
			<tr>
				<td>
					<input  type="button" value="Clear" ng-click="mail.clear()"/>
				</td>
				<td>
					<input  type="button" value="ViewAll" ng-click="mail.viewAllMail()"/>
				</td>
			</tr>
		</table>
	</body>
</html>