<html>
		<script src="../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../bower_components/angular/angular.min.js"></script>
		<script src="../bower_components/flatui/dist/js/flat-ui.min.js"></script>
		<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="../bower_components/angular/angular.min.js"></script>
		<script src="js/viewAllMail.js"></script>
		<script src="js/MailDao.js"></script>
		<script src="js/windowControl.js"></script>
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="../bower_components/flatui/dist/css/flat-ui.min.css"/>
	<head>
		<title>Mail Keeper</title>
	</head>
	<script type="text/javascript">
		function showGlob(){
			var glob = require('./js/global.js');
			console.log(glob.global);
		}
	</script>
	<body ng-app="viewAllMailApp" ng-controller="viewAllMailController">
		<div class="container">
			<div class="form-group">
				<h1 class="logo">Mails</h1>
			</div>
			<div class="row" style="float:left;margin-bottom:20px;margin-left:20px">
				<div class="span3" style="float:left;margin-bottom:20px;margin-left:20px;">  
					<a href="viewAllMails.html" class="btn btn-large btn-block btn-primary" style="width:80px;">Home</a>
				</div>
				<div class="span3" style="float:left;margin-bottom:20px;margin-left:20px;">
					<a href="index.html" class="btn btn-large btn-block btn-primary" style="width:80px;">Add</a>
				</div>
				<div class="span3" style="float:right;margin-bottom:20px;margin-left:20px;" align="right">
					<a href="#" class="btn btn-large btn-block btn-primary" style="width:80px;" onclick="windowControl()">Close</a>
				</div>
			</div>
		</div>
		<div class="tile">
		<div class="row">
			<div class="span3" align="center" style="float:left;margin-bottom:20px;margin-left:20px">
				<input class="form-control" type="search" placeholder="Search" ng-model="search.query"/>
			</div>
		</div>
		<table class="container table table-condensed table-responsive" border="1" style="width:1500;padding-left:15px;" align="center">
			<thead class="container">
				<tr class="palette palette-turquoise">
					<th style="width:80px;text-align:center;">View</th>
					<th style="width:80px;text-align:center;">Edit</th>
					<th style="width:80px;text-align:center;">Remove</th>
					<th style="width:150px;text-align:center;">Mail Code</th>
					<th style="width:350px;text-align:center;">Mail Sub</th>
					<th style="width:130px;text-align:center;">Received</th>
					<th style="width:130px;text-align:center;">Replied</th>
					<th style="width:120px;text-align:center;">Reply Status</th>
					<th style="width:280px;text-align:center;">Remarks</th>
				</tr>
			</thead>
			<tbody class="container">
			<tr ng-repeat="mail in mails | filter : search.query | orderBy : 'mailSub'">
				<td hidden="true">
					{{mail._id}}
				</td>
				<td align="center">
					<a href="#"><span class="fui-chat" ng-click="controls.view(mail._id)"></span></a>
				</td>
				<td align="center">
					<a href="#"><span class="fui-new" ng-click="controls.edit(mail._id)"></span></a>
				</td>
				<td align="center">
					<a href="#"><span class="fui-cross"ng-click="controls.remove(mail._id)"></span></a>
				</td>
				<td>
					{{mail.code}}
				</td>
				<td>
					{{mail.mailSub}}
				</td>
				<td>
					{{mail.receiveDate.getDate()}}-{{controls.monthNames[mail.receiveDate.getMonth()]}}-{{mail.receiveDate.getFullYear()}}
				</td>
				<td>
					{{mail.replyDate.getDate()}}-{{controls.monthNames[mail.replyDate.getMonth()]}}-{{mail.replyDate.getFullYear()}}
				</td>
				<td>
					{{mail.replyStatus}}
				</td>
				<td>
					{{mail.remarks}}
				</td>
			</tr>
			</tbody>
		</table>
		</div>
		</div>
	</body>
</html>