<html>
	<head>
		<script src="../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../bower_components/angular/angular.min.js"></script>
		<script src="../bower_components/flatui/dist/js/flat-ui.min.js"></script>
		<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="js/viewOneMail.js"></script>
		<script src="js/MailDao.js"></script>
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    	<link rel="stylesheet" href="../bower_components/flatui/dist/css/flat-ui.min.css"/>
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    	<link rel="stylesheet" href="../bower_components/flatui/dist/css/flat-ui.css"/>
		<script src="../bower_components/flatui/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="../bower_components/flatui/js/jquery.ui.touch-punch.min.js"></script>
		<script src="../bower_components/flatui/js/bootstrap-select.js"></script>
		<script src="../bower_components/flatui/js/bootstrap-switch.js"></script>
		<script src="../bower_components/flatui/js/flatui-checkbox.js"></script>
		<script src="../bower_components/flatui/js/flatui-radio.js"></script>
		<script src="../bower_components/flatui/js/jquery.tagsinput.js"></script>
		<script src="../bower_components/flatui/js/jquery.placeholder.js"></script>
		<script src="../bower_components/flatui/js/jquery.stacktable.js"></script>
		<script src="../bower_components/flatui/js/application.js"></script>			
		<title>Mail Keeper</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body ng-app="ViewOne" ng-controller="viewOneController" class="form-group">
				<div class="container">
			<div class="row" style="float:left;margin-bottom:20px;margin-left:20px">
				<div class="span3" style="float:left;margin-bottom:20px;margin-left:20px;">  
					<a href="viewAllMails.html" class="btn btn-large btn-block btn-primary" style="width:80px;">Home</a>
				</div>
				<div class="span3" style="float:left;margin-bottom:20px;margin-left:20px;">
					<a href="index.html" class="btn btn-large btn-block btn-primary" style="width:80px;">Add</a>
				</div>
				<div class="span3" style="float:right;margin-bottom:20px;margin-left:20px;">
					<a href="#" class="btn btn-large btn-block btn-primary" style="width:80px;" onclick="windo">Close</a>
				</div>
			</div>
		</div>
		<div class="form-group" align="center">
		<div class="form-group" align="left" style="width:600px;padding-left:15px;">
			<div class="form-group">
				<h1 class="logo">Mail Details</h1>
			</div>
			<div class="form-group form-group-lg">
					<u><h6 class="h6 small">Mail Code :</h6></u>
					<b><div class="span4" type="text" ng-model="mail.code" ng-bind="mail.code"
					placeholder="Enter Mail Code"></div></b>
			</div>
			<div class="form-group form-group-lg">
					<u><h6 class="h6 small">Mail Subject :</h6></u>
					<b><div class="span4" ng-model="mail.mailSub" ng-bind="mail.mailSub" 
					placeholder="Enter Mail Subject"></div></b>
			</div>
			<div class="form-group form-group-lg">
				<u><h6 class="h6 small">Reply Status :</h6></u>
				<b><div class="span4" type="text" ng-model="mail.replyStatus" ng-bind="mail.replyStatus" 
				placeholder="Enter Mail Reply Status"></div></b>
			</div>
			<div class="form-group form-group-lg">
				<u><h6 class="h6 small">Remarks :</h6></u>
				<b><div class="span4" ng-model="mail.remarks" ng-bind="mail.remarks"
				placeholder="Enter Mail Remarks"></div></b>
			</div>
			<div class="form-group form-group-lg">
				<u><h6 class="h6 small">Latest Receive Date :</h6></u>
				<b><div class="span4" ng-model="mail.receiveDate" ng-bind="mail.receiveDate" 
				></div></b>
			</div>
			<div class="form-group form-group-lg">
				<u><h6 class="h6 small">Latest Reply Date :</h6></u>
				<b><div class="span4" ng-model="mail.replyDate" ng-bind="mail.replyDate"></div></b>
			</div>
			<div class="span3" style="float:left;margin-bottom:20px;margin-left:20px;">
					<a href="viewAllMails.html" class="btn btn-large btn-block btn-primary" style="width:80px;">Back</a>
			</div>
		</div>
		</div>
	</body>
</html>