<html>
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../bower_components/angular/angular.min.js"></script>
	<script src="../bower_components/flatui/dist/js/flat-ui.min.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../bower_components/angular/angular.min.js"></script>
	<script src="js/viewAllMail.js"></script>
	<script src="../bower_components/lokijs/build/lokijs.min.js"></script>
	<script src="js/MailDao.js"></script>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/flat-ui.min.css"/>
	<head>
		<title>Mail Keeper</title>
	</head>
	<body  ng-app="viewAllMailApp" ng-controller="viewAllMailController">
		<table class="table table-condensed table-responsive" border="1">
			<thead>
				<tr>
					<th>Select</th>
					<th>Mail Code</th>
					<th>Mail Sub</th>
					<th>Received Date</th>
					<th>Reply Status</th>
					<th>Remarks</th>
				</tr>
			</thead>
			<tr ng-repeat="mail in mails">
				<td hidden="true">
					{{mail._id}}
				</td>
				<td align="center">
					<input type="radio" name="mailSelect"/>	
				</td>
				<td>
					{{mail.code}}
				</td>
				<td>
					{{mail.mailSub}}
				</td>
				<td>
					{{mail.receiveDate}}
				</td>
				<td>
					{{mail.replyStatus}}
				</td>
				<td>
					{{mail.remarks}}
				</td>
			</tr>
		</table>
		<button name="refresh" ng-click="controls.refresh()" value="Refresh">Refresh</button>
	</body>
</html>